<<div class="col-md-6 offset-md-3">
    <h3> Crear Empleado </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Nombre</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "empleado.Nombre" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Apellido </label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "empleado.Apellido" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "empleado.Email" name = "emailId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Agregar</button>
    
    </form>
    </div> 
